/***FONTS***/

@fortawesome/free-regular-svg-icons;
@import url('https://fonts.googleapis.com/css?family=Rubik:400,500,700&display=swap');

.transition-fade {
    opacity:1;
    transition:5s;
}

html.is-animating .transition-fade {
    opacity:0;
}

/***STRUCTURE***/

* {
margin:0;
padding:0;
box-sizing: border-box;
color:#333;
}

body {
    cursor:pointer;
}

section {
    height:100vh;
}

/*.cursor {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    transition: all 200ms ease-out;
    animation: cursorAnim .6s infinite alternate;
    pointer-events: none;
}


@keyframes cursorAnim {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(.9);
    }
}

@keyframes cursorAnim3 {
    0% {
        transform: rotate(180deg);
        color:red;
    }
    50% {
        transform: scale(1.5);
        color:yellow;
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}

.expand {
    animation: cursorAnim3 .3s forwards;
}*/


/***BASIC TEXT***/

h1 {
    font-family: 'agrandirregular';
    letter-spacing: 0.02em;
    font-size:3.2rem;
}

h2 {
   font-family: 'agrandirbold';
    font-size:2.5rem;
    letter-spacing: 0.02em;
    line-height:1.4;
    
}

h4 {
    font-size:2.125rem;
    font-weight:700;
    font-family: 'agrandirbold';
    color:#333;
}

h5 {
    font-family: 'object_sansregular';
    letter-spacing: 0.8px;
    font-size:1.1em;
}

h5 a {
    color: #038C5A;
}

h5 a:hover {
    color: #D97F30;
    transition:all 0.3s ease;
}

h6 {
    font-family: 'agrandirbold';
    letter-spacing: 0.8px;
    font-size:1em;
}


p {
    font-family: 'object_sansregular';
    font-size:1em;
    color:#333;
}

a {
    text-decoration: none;
    color:#333;
    z-index: 98;
    }

a:hover {
    cursor: pointer;
}
    
a:hover *{
    color:#D97F30;
    transition:all 0.3s ease;
    }

p a {
    font-family: 'agrandirbold';
    color:#038C5A;
    letter-spacing: 0.8px;
}

p a:hover {
 color:#D97F30;
    transition:all 0.3s ease;
    cursor:pointer;
}

h2 a:hover {
    color:#D97F30;
    transition:all .4s;
    cursor: pointer;
    }

a h4 {
    padding-top:2em;
}

    .loading-home {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  background:center no-repeat #AFD9AD;
  width: 100vw;
  height: 100vh;
  transform: scaleY(0) skewX(0);
  transform-origin: center;
        display:flex;
        justify-content: center;
        align-items: center;
}
    
    .loading-home img {
        width:50%;
        animation: spin 2s forwards ;
    }
    
    .loading-container-home {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: 7;
  pointer-events: none;
}

/***NAVIGATION***/

header {
    display: grid;
    grid-gap: 2rem;
    align-items: center;
    grid-template-columns: repeat(2, minmax(0px, 2048px));
    padding: 2rem;
    position:inherit;
    z-index:105;
    opacity:1;
}

header:hover {
        cursor: pointer;
}

.logo img {
    width:4em;
    z-index:106 !important;
    cursor:pointer;
}

/*social media*/ aside {
    display:none;
}


#trigger {
	font-size:2em;
	cursor:pointer;
	position:absolute;
	top:2rem;
	right:2rem;
	z-index: 1;
	color:#333333;
	font-weight:700;
    padding:3vmax;
}

#trigger:hover {
	color:#BA402D;
}

.overlay {
    height: 100vh;
    width:0%;
    position: absolute;
    z-index: 11;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: all 0.5s;
    display:flex;
    justify-content: center;
    align-content: center;
    background:#fff;
}

.overlay-content {
    height:100vh;
	position: relative;
	display: flex;
    justify-content: center;
    align-content: center;
	flex-flow:column;
}

.three {
    display:none;
}

.overlay a{
	position: relative;
    text-decoration: none;
    list-style: none;
    font-size: 2em;
    transition: all 0.5s;
	letter-spacing: 2px;
	text-align: center;
    padding-bottom: 0.8em;
    font-family: 'agrandirbold';

}

.closebtn {
    position: absolute;
	z-index: 99;	
    top: 4vmax;
    right: 4.5vmax;
    font-size: 3em;
	cursor: pointer;
	padding: 1.5vmax;
    text-decoration: none;
    color: #333333;
    transition: all 0.3s;
	text-transform:uppercase;
	font-weight:normal;
}


#hoverme {
    position:relative;
}

#hoverme img { 
}

#hoverme:hover {
    background: url(../images/asteriks.svg) center no-repeat;
}

/***MAIN***/

#homepage {
    background:#AFD9AD;
    display: grid;
    grid-template-columns: 1fr minmax(200px, 900px) 0.8fr;
    padding:0 2rem;

}

main {
    grid-column: 2 / 3;
    height:80vh;
    display:flex;
}

main h1 {
    font-size:  2.6rem;
    display:flex;
    line-height: 1.2;
    justify-content: center;
    align-items: flex-end;
    padding-bottom:1em;
}


.main_menu {
    justify-self: end;
}

.main_menu ul{
    display: none;
}

.main_menu i {
    font-size:1.5em;
    }

.boxes {
    grid-column: 2 / 3;
    min-height: 50vh;
    margin: 0;
    padding-left:20vw;
}
.boxes:after {
    content: url("../images/asteriks.svg");
    display: block;
    height:50px;
    width: 50px;
    position: absolute;
    left: calc(35% - 25px);
    bottom: 0px;
    z-index: 1;
    animation: spin 1s infinite ;
    margin-bottom: -2em;
}



@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.line {
    background: #333;
    width: 5px;
    position: absolute;
    left: calc(35% - 2px);
    height:100%;
    padding-top:0em;

}

.section-c {
    min-height:130vh;
     grid-column: 2 / 3;
    text-align:left;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    }


.content-list {
padding-bottom:1.4rem;
}


.about-content .title {
    font-family: 'agrandirregular';
  font-size: 2.3rem;
    line-height: 1.4;
  padding: 10vh 0;
}



#pres {
    grid-column: 1/2;
    text-align:left;
        display: flex;
    justify-content: flex-start;
    align-items: center;
}

#pres h2 {
    font-family: 'agrandirregular';
}

#main_pres {
    min-height:75vh;
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 1fr;
    padding:0 2em;
}

/***PROJECTS***/

.projects {
    grid-column: 1/2;
    grid-row:2/3;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-flow: column;
    line-height: 2;  
}

.projects h2 {
    line-height:1.4;
    padding-bottom:0.4em;
}


/***PROJECT PAGES***/


.proj_page{
    display: grid;
    grid-template-columns: 1fr;
}

.topimg{
    grid-column: 1 / 4;
    height:100%;
}

.topimg img {
    width:100%;
    
}

#video {
    grid-column: 1/5;
}

#video iframe {
    width:100vw;
    height:100vh;
}

.cap{
    grid-column: 1 / 4;
    display:flex;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    padding:1rem;
}

.cap h6 {
    font-size:0.8rem;
    font-family: 'object_sansregular';
color: grey;
}

.proj_intro {
    justify-content: center;
    align-items: center;
    height:100%;
    grid-column: 1 / 2;
    padding:6vmax;
}

.proj_desc {
    display:grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 0.5fr 0.3fr 1fr 0.5fr 0.5fr;
    grid-gap:1em;
}

.proj_title {
    display:flex;
    justify-content: flex-start;
    font-size: 2.8em;
    align-items:center;
    grid-column: 1 / 6;
    grid-row: 1 / 2;
    text-align: left;
}

.proj_moreinfo {
    min-height:60vh;
    grid-column: 1 / 2;
    display:flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    font-size:1rem;
    line-height:1.6;
    padding: 0 6vmax;
}

.proj_moreinfo p {

}

.proj_moreinfo h4 {
    padding-bottom:2em;
}

.proj_moreinfo_50 {
    height:10vh;
    grid-column: 1 / 2;
    display:flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    font-size:1rem;
    line-height:1.6;
    padding: 0 6vmax;
}

.proj_moreinfo_50 h5 {
    font-size:1.4em;
    font-family: 'agrandirbold';
}

.summary {
    display:flex;
    align-items: center;
    justify-content: center;
    vertical-align: bottom;
    grid-column: 1 / 6;
    grid-row: 2 / 5;
    font-size:1.5rem;
    line-height: 1.4em;
}

.year {
    grid-column: 2 / 5;
    grid-row: 5 / 6;
    font-size:1em;
    display:flex;
    text-align: left;
    align-items: center;
}

.year_title {
    grid-column: 1 / 2;
    grid-row: 5 / 6;
    font-size:1em;
    display:flex;
    text-align:left;
    align-items: center;
    font-family:'agrandirbold';
}

.categories {
    grid-column: 2 / 5;
    grid-row: 6 / 7;
    display:flex;
    align-items: flex-start;
    font-size:1em;
    line-height: 1.4em;
}

.cat_title {
    grid-column: 1 / 2;
    grid-row: 6 / 7;
    display:flex;
    align-items: flex-start;
    font-size:1em;
    font-family: 'agrandirbold';
}

.proj_assets {
    height:100%;
    grid-column: 1 / 4;
    overflow-y: hidden;
    display:flex;
    align-items:center;
    justify-content: center;
    padding-bottom:0;
}

.proj_assets_caption {
    height:100%;
    grid-column: 1 / 5;
    overflow-y: hidden;
    display:flex;
    align-items:center;
    justify-content: center;
    padding-bottom:0;
}

.proj_assets_caption figure{
    padding-bottom:1em;
}

.proj_assets_caption figure img{
    width:100%;
}

.proj_assets img {
    width:100%;
}


.proj_assets_50 {
    height:100%;
    grid-column: 1 / 5;
    overflow-y: hidden;
    display:flex;
    align-items:center;
    justify-content: center;
}

.proj_assets_50 img {
    width:100%;
}

.proj_assets_smaller {
    height:70vh;
    grid-column: 1 / 5;
    overflow-y: hidden;
    display:flex;
    align-items:center;
    justify-content: center;
}

.proj_assets_smaller img {
    height:auto;
    width:100%;
}

.proj_sidebyside {
    height:100vh;
    grid-column: 1 / 5;
    display:grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    background:url('../images/bistro/Artboard%206.svg');
    background-size: cover;
    overflow: hidden;
}

.proj_sidebyside figure {
    height:60vh;
    overflow-y: hidden;
}

.proj_sidebyside img {
    width:100%;

}

.proj_sidebyside_blank {
height:auto;
    grid-column: 1 / 4;
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.proj_sidebyside_blank figure {
    height:100%;
    display:flex;
    align-items: flex-start;
    overflow-y: hidden;
}

.proj_sidebyside_blank img {
    width:100%;

}


#safcolours{
    grid-column: 1/5;
    height:20vh;
    width:100vw;
    display:grid;
    grid-template-columns: repeat(5,1fr);
}

#logogreen{
    grid-column: 1/2;
    background:#3f572D;
}


#secgreen {
    grid-column: 2/3;
    background:#5aae2d;
}

#accentcol {
    grid-column: 3/4;
    background:#ff6419;
}


#suppgrey{
    grid-column: 4/5;
    background:#516856;
}


#supplight{
    grid-column: 5/6;
    background:#f1f9ea;
}


.proj_assets video {
    width:100%;
}



.proj_imggrid {
    height:60vh;
    grid-column: 1 / 4;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap:1em;
    
}

.proj_imggrid figure {
    overflow-y: hidden;
}

.proj_imggrid img {
    width:100%;
}

.proj_para {
    height:100%;
    grid-column: 1 / 2;
    align-items:center;
    justify-content: left;
    font-size:1.2em;
    line-height: 1.7em;
    display: flex;
    flex-flow: column;
    padding: 6vmax;
}


.proj_para p {
    padding-bottom:1em;
}

.proj_para h4 {
    padding-bottom:1em;
}

.proj_assets_multiple {
    grid-column: 1 / 2;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.proj_assets_multiple img {
    width:400px;
    padding:1em;
}

.proj_assets_multiple_alt {
    grid-column: 1 / 2;
    display:flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}



.proj_assets_multiple_alt img {
    width:100%;
    padding:1em;
    
}

.openleaf {
    background: url('../images/wild_thoughts/leaf.gif') center no-repeat;
    background-size: 85%;
}

.proj_assets_big {
    grid-column: 1 / 2;
    display:grid;
    align-items:center;
    justify-content: center;
}

.proj_assets_big figure{
    padding:2em 0;
}

.proj_assets_big img {
    width:100%;
}



#saficons {
    height:100%;;
    grid-column: 1 / 4;
    overflow-y: hidden;
    display:flex;
    align-items:center;
    justify-content: center;
    background:#F1F9Ea;
    
}

.nextproject {
    grid-column: 1 / 4;
    height:40vh;
    display:flex;
    justify-content: center;
    align-items:center;
}

.nextproject a {
    display: flex;
    flex-flow: wrap;
    transition:all 0.5s ease;
}

.nextproject a:hover {
    transform: translateX(1%);
}

.nextproject h2{
    font-size:3em;
    font-family: 'agrandirbold';
    text-transform: lowercase;
    transition:all 0.5s ease;
}

.nextproject .arrow{
    font-family: 'agrandirbold';
    align-self: center;
    font-size:3em;
}

.nextproject h2:hover {
    margin-right:0.4em;
}

#bistrologo {
    background:#261A10;
}

/****ABOUT***/

.about_page {
    display:flex;
    flex-flow:column;
    height:100vh;
    background:#F28F6B;
}

#about {
    height:100%;
    display:grid;
    grid-template-columns: 1fr minmax(200px,900px) 1fr;
    grid-template-rows: 1fr;
    padding:4vmax;
}

#about_me{
    grid-column: 2 / 3;
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-gap:2em;
    justify-content: center;
    align-items: center;
}


#about_me p{
    font-size:1rem;
    line-height: 1.4;
    padding-top:1.4em;
}



/***FOOTER***/

footer {
    grid-column: 1 / 4;
    height:20vh;
    border-top: #333 3px solid;
    padding-left:0;
    display: flex;
    flex-flow: column;
    justify-content: center;
    font-size:0.8em;
}

/*************************************TABLET*****************************************/


@media all and (min-width: 768px) {
    #main_pres {
        padding:0 2em;
    }
    
.proj_intro {
padding:8vmax;
}

.proj_moreinfo {
padding:0 8vmax;
    font-size:1.2rem;
}

}


/*************************************DESKTOP*****************************************/

@media all and (min-width: 1024px) {

/***NAVIGATION***/  
    
/* Loading Screen Styling BARBA */

.loading-screen {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  background-color: #F28F6B;
  width: 100%;
  height: 100%;
  transform: scaleY(0) skewX(0);
  transform-origin: top left;
}

.loading-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 16;
  pointer-events: none;
}
    

/* Loading Screen Styling Ends */    
    
#trigger {
	display:none;
    position:fixed;
}

.overlay {
    display:none;
}

.overlay-content {
	display:none;
}

.overlay a{
	display:none;
}

.overlay a:hover, .overlay a:focus {
    display:none;
}

.closebtn {
    display:none;
}
        
header {
    position:fixed;
    }
    
header nav {
    justify-self: end;
}
    
main {
display:grid;
height:90vh;
font-size:  2.8rem;
padding-bottom:1em;
}
    

    
/*
.line {
   animation: grow 1.5s infinite alternate cubic-bezier(0.65, 0, 0.35, 1);
}
*/
    
    @keyframes grow {
    0% {

        height:0vh;
    }
    50% {
        height:75vh;
    }
    
    100% {
        height:75vh;
    }
}

#pres {
    grid-column: 2/3;
}

.projects {
    grid-column: 2/3;
}
    
.cap {
    grid-column: 2 / 3;
    font-size:0.2em;
}

.main_menu i {
    display: none;
    }
    
.three {
    display:contents !important;
    margin: 0 5em; !important
}  
    
.main_menu ul{
    display: flex;
    flex-wrap: wrap;
    grid-gap: 1rem;
    padding-left:0;
    font-family: 'agrandirbold';
    text-transform: lowercase;
    letter-spacing: 0.4px;
}

.main_menu li {
    margin: 0 0.1rem;
    list-style: none;
}

.logo img {
    width:4em;
}  
    
aside {
    display: grid;
    grid-gap: 2rem;
    align-items: center;
    text-align: left;
    height:100vh;
    position:absolute;
    padding-left:3vmax;
    position:fixed;

}

aside li {
    list-style: none;
    padding-bottom:1em;
}
    

/***PROJECTS DESKTOP***/
    
.proj_page{
    display: grid;
    grid-template-columns: 0.9fr minmax(200px, 900px) 1fr;
}
    
.topimg{
    grid-column: 1 / 4;
    padding-top:0;
    height:100%;
}    
    
.proj_title {
    display:flex;
    justify-content: center;
    font-size: 2.6em;
    padding-bottom:0;
    align-items:center;
    grid-column: 1 / 7;
    grid-row: 1 / 2;
    text-align: center;
}
    
.proj_desc {
    display:grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 0.5fr 2em 1fr 1fr;
    grid-gap:1em;
}    


.proj_intro {
    display:flex;
    justify-content: center;
    align-items: center;
    height:60vh;
    grid-column: 2 / 3;
    padding:0;
}
    

.summary {
    display:flex;
    align-items: flex-start;
    vertical-align: bottom;
    grid-column: 1 / 5;
    grid-row: 3 / 5;
    font-size:1.4rem;
    line-height: 1.7em;
}

.year {
    grid-column: 6 / 7;
    grid-row: 3 / 4;
    font-size:0.85em;
    display:flex;
    text-align: right;
    align-items: center;
}


.year_title {
    grid-column: 5 / 6;
    grid-row: 3 / 4;
    font-size:0.85em;
    display:flex;
    text-align: right;
    align-items: center;
    justify-content:center;
}

.categories {
    grid-column: 6 / 7;
    grid-row: 4 / 5;
    display:flex;
    align-items: flex-start;
    font-size:0.85em;
}

.cat_title {
    grid-column: 5 / 6;
    grid-row: 4 / 5;
    display:flex;
    align-items: flex-start;
    justify-content:center;
    font-size:0.85em;
}
    
.proj_assets {
    height:100%;
    grid-column: 1 / 4;
    overflow-y: hidden;
    display:flex;
    align-items:center;
    justify-content: center;
    flex-flow: column;
    padding:0;
}
    
.proj_assets_caption {
    height:100%;
    grid-column: 1 / 5;
    overflow-y: hidden;
    display:flex;
    align-items:center;
    justify-content: center;
} 
    
    #care {
        background:#FAF5F8;
    }
    
.proj_assets_caption figcaption{
    padding-bottom:2em;
}

.proj_assets img {
    width:100%;
}
    
.proj_assets_50 {
    height:50vh;
    }
    
.proj_assets_multiple_alt {
    grid-column: 2 / 3;
    display:flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

.proj_assets_multiple_alt img {
    width:100%;
    padding:1em;
    
}

.proj_moreinfo {
    height:60vh;
    grid-column: 2 / 3;
    display:flex;
    align-items:center;
    justify-content: center;
    font-size:1.2em;
    line-height: 1.7em;
    padding:0;
    
}

.proj_imggrid {
    height:100vh;
    grid-column: 1 / 4;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap:1em;
    
}
    
.proj_sidebyside_blank {
height:60vh;
    grid-column: 1 / 5;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.proj_imggrid figure {
    overflow-y: hidden;
}
    
.proj_assets_smaller img {
    height:50vh;
    width:auto;
}

.proj_imggrid img {
    width:100%;
}
    
    .proj_assets_big {
    grid-column: 2 / 3;
}
    
    .proj_para {
    grid-column: 2 / 3;
        padding: 0 2em;
}
    
    .proj_assets_multiple {
    grid-column: 2 / 3;
}

.proj_assets_multiple img {
}


#saficons {
    height:100%;;
    grid-column: 1 / 4;
    overflow-y: hidden;
    display:flex;
    align-items:center;
    justify-content: center;
    background:#F1F9Ea;
    padding:0 4em;
    
}
    
.boxes:after {
    left: calc(35% - 25px);
    bottom: 0;
}

.nextproject {
    grid-column: 1 / 4;
    height:40vh;
    display:flex;
    justify-content: center;
    align-items:center;
}

.nextproject h2{
    font-size:3em;
}
    
.nextproject h2:hover {
    margin-right:0.8em;
}
    
.nextproject a:hover {
    transform: translateX(16%);
}
    
#about {
    min-height:100vh;
    display:grid;
    grid-template-columns: 1fr minmax(200px,800px) 1fr;
    grid-template-rows: 1fr;
     padding:0;
}

    
#about_me article{
grid-column: 2/3;
}
    

#about_me p{
    font-size:1rem;
    }
    
    
#homepage {
    background:#AFD9AD;
    display: grid;
    grid-template-columns: 1fr minmax(200px, 900px) 0.8fr;
padding:0;
}

.section-c {
    min-height:120vh;
     grid-column: 2 / 3;
    text-align:left;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-flow: column;
    }


.content-list {
padding-bottom:1.4rem;
}


.about-content .title {
    font-family: 'agrandirregular';
  font-size: 2.3rem;
    line-height: 1.4;
  padding: 10vh 0;
}

footer {
    grid-column: 1 / 4;
    height:20vh;
    border-top: #333 3px solid;
    padding-left:3vmax;
    display: flex;
    flex-flow: column;
    justify-content: center;
    font-size:0.8rem;
}
    
    .containertest {
    padding-bottom:0;
}

    
    }