

@font-face {
    font-family: 'object_sansheavy';
    src: url('objectsans-heavy-webfont.woff2') format('woff2'),
    url('objectsans-heavy-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    unicode-range: U+000-5FF;
}


@font-face {
    font-family: 'object_sansregular';
    src: url('objectsans-regular-webfont.woff2') format('woff2'),url('objectsans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    unicode-range: U+000-5FF;
}



@font-face {
    font-family: 'agrandirregular';
    src: url('agrandir-regular-webfont.woff2') format('woff2'),
    url('agrandir-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'agrandirbold';
    src: url('Agrandir-Bold.woff2') format('woff2'),
    url('Agrandir-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    unicode-range: U+000-5FF;
}



@font-face {
    font-family: 'agrandirtext_bold';
    src: url('agrandir-textbold-webfont.woff2') format('woff2'),
    url('agrandir-textbold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    unicode-range: U+000-5FF;
}




@font-face {
    font-family: 'agrandirwide_light';
    src: url('agrandir-widelight-webfont.woff2') format('woff2'),
         url('agrandir-widelight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}